@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "menu.css" );

.account::before {
  content: "Account";

  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.account {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.account > .implications {
  display: table;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.implications > .entry, .implications > .header {
  display: table-row;
}

.implications > * > * {
  display: table-cell;
  padding: 0.25em;
}

.implications > .entry:nth-child(odd) {
  display: table-row;
  background-color: #EEE;
}

.implications > .header {
  background-color: black;
  color: white;
  font-weight: bold;
}

.implications > .entry > .timestamp > * {
  display: table-cell;
  padding-right: 0.25em;
}

.implications > .entry > .policy,
.implications > .entry > .timestamp > .date {
  white-space: nowrap;
}

