@charset "utf-8";

@import url( "reset.min.css" );

body {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;

  font-family: "Open Sans", sans-serif;
}

.paragraph {
  line-height: 120%;
}

.title {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.2em;
}

