@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "menu.css" );

.policy {
  padding-bottom: 0.5em;
}

.title, .policy {
  border-bottom: 1px solid black;
}

.implication {
  margin-left: 1em;
}

.support {
  float: left;
  margin-right: 0.5em;
}

.support > a::before {
  content: "▶";
}

.votes {
  display: none;
}

.implication, .implications, .counter {
  margin-top: 0.5em;
}

.counter {
  margin-left: 2em;
}

.counter > .support::after {
  content: " [Refuted]";
  font-weight: bold;
  font-size: .75em;
}

