@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "menu.css" );

.policy {
  display: flex;
  flex-direction: column;
}

.overview {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.synopsis {
  padding-top: 0.3em;
}

.synopsis, .summary > .tags {
  padding-left: 10px; 
}

.synopsis > a {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-size: 1.25em;
}

.statistics {
  order: 1;
}

.activation {
  order: 2;
}

.summary {
  order: 3;
}

.statistics, .activation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 0.8em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

.statistics {
  width: 9%;
}

.activation {
  width: 10%;
}

.activation > .time, .statistics > .views {
  padding-top: 0.25em;
}

.summary > .tags {
  display: inline-flex;
  font-size: 0.8em;
  color: #B93507;
}

/** Separate tags using horizontal bars. */
.tag::after {
  content: "|";
  padding-left: 5px;
  padding-right: 5px;
}
.tag:last-child:after { content: ""; }

.votes::after { content: " votes "; }
.views::after { content: " views "; }
