@charset "utf-8";

/**
 * Decorates the tabular data for the pie chart values.
 */
table.legend {
  margin-left: 2em;

  border: 1px solid #EEE;
}

th, td {
  padding: 4px;
}

th {
  padding-bottom: 8px;
}

td.amount, td.percent {
  text-align: right;
}

td.amount {
  border-right: 1px solid #EEE;
}

tr:nth-child(even) {
  background-color: #EEE;
}

table.legend > thead > tr > * {
  color: white;
  background-color: black;
}

table.legend > tfoot {
  border-top: 3px double black;
}

table.legend > tfoot > tr > td.footer {
  text-align: right;
}

