@charset "utf-8";

.list {
  list-style-type: decimal;
  counter-reset: contentList;
}

.list > .item::before {
  counter-increment: contentList;
  content: "(" counter( contentList, decimal ) ") ";
}

.list > .item { 
  margin-top: 0.5em;
  margin-left: 1.25em;
  line-height: 120%;
}

