@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "menu.css" );

fieldset {
  border: 1px solid #eee;
  padding: 2em;
  width: 25%;
  margin: 0 auto;
}

fieldset input {
  margin-bottom: 1em;
}

