ul.menu {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

ul.menu > li.item {
  display: inline;
  padding-right: 1em;
}

a.new {
  padding: .25em;
  padding-left: .5em;
  padding-right: .5em;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B93507;
  border-radius: 5px;
}

