@charset "utf-8";

@import url( "list.css" );

.part > .title, .section > .title {
  margin-top: 0.75em;
}

.part > .title {
  font-size: 1.5em;
}

.section > .title {
  font-size: 1.2em;
}

.parts {
  list-style-type: decimal;
  counter-reset: partList;
}

.part > .title::before {
  counter-increment: partList;
  content: "Part " counter( partList, decimal ) " - ";
}

.sections {
  list-style-type: decimal;
  counter-reset: sectionList;
}

.section > .title::before {
  counter-increment: sectionList;
  content: "Section "
    counter( partList, decimal ) "."
    counter( sectionList, decimal ) " - ";
}

