@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "parts.css" );
@import url( "menu.css" );

.summary > .title {
  border-bottom: 1px solid black;
}

.activation {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;

  justify-content: flex-end;
}

.date::before {
  content: "Activation: ";
}

.time::before {
  content: "\00a0 at\00a0";
}

.paragraph {
  padding-top: 0.5em;
  line-height: 120%;
}

