@charset "utf-8";

@import url( "common.css" );
@import url( "policy.css" );
@import url( "xref.css" );
@import url( "votes.css" );
@import url( "video.css" );
@import url( "menu.css" );

.implications::before {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
}

.implication > .title {
  font-size: 1.25em;
  border-bottom: none;
  line-height: 120%;
}

.implication {
  min-height: 2.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.support {
  display: table;
}

