@charset "utf-8";

@import url( "common.css" );
@import url( "xref.css" );
@import url( "votes.css" );
@import url( "menu.css" );

.title {
  border-bottom: 1px solid black;
}

.summary, .paragraph {
  padding-bottom: 0.5em;
}

.synopsis {
  float: right;
  width: 90%;
}

.implications > .implication {
  line-height: 120%;
}

.statistics {
  font-size: 0.8em;
}

.activation {
  display: none;
}

.implications {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear: both;
}

.implications, .implication:nth-of-type(1) {
  margin-top: 0.5em;
}

.implication > .support {
  float: left;
  margin-right: 0.5em;
  padding-left: 0.5em;
}

.implication > .support > a::before {
  content: "▶";
}

